

.editor{
	margin-top:150px;
	margin-left:50px;
	width:400px;
    height:570px;
	border: 2px black solid;
	overflow:hidden;
	position:fixed;
}

#canvas {
	width:405px;
	height:500px;
	position:absolute;
	left:600px;
}

  
.button {
  line-height: 18px; }
  
.button {
  cursor: pointer; }
  
.button:hover {
    background: white; }
.button.active {
    background: #bbb; }

.zoom {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }
  .zoom.zoom-out {
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }
  .zoom.zoom-move {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab; }
  .zoom.zoom-grab {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing; }

